{% extends 'equipment/base.html' %}
{% block content %}
	
	{% if department_list %}
	<table class='table table-hover'>
		<tr>
			<td>Department Name</td>
			<td>Sites</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
		
		{% for dept in department_list %}
		<tr>
			<td><a href="/departments/{{ dept.id }}/">{{ dept.name }}</a></td>
			<td>
				<ul>
				{% for site in dept.sites.all %}
					<li>{{ site.name }}</li>
				{% endfor %}
				</ul>	
			</td>
			<td><a href="/departments/edit/{{ dept.id }}" class='btn btn-primary' role="button">Edit</a></td>
			<td><a href="/departments/delete/{{ dept.id }}" class='btn btn-primary' role="button">Delete</a></td>
		</tr>
		{% endfor %}
		
	</table>

{% else %}
	<p>No Departments Available <a href="/departments/create/">Create</a></p>
{% endif %}

{% endblock %}

