{% extends 'equipment/base.html' %}
{% block content %}
<div>Department Name: {{ department_details.name }}</div></br>
<div>Reporting Manager: {{ department_details.reportingManager.name }}</div></br>
<div>Sites:
{% for site in site_list %}
	{{ site.name }}
{% endfor %}
</div>
<div style="float:right"><a href="/departments/edit/{{ department_details.id }}" class='btn btn-primary' role="button">Edit</a><a href="/departments/delete/{{ department_details.id }}" class='btn btn-primary' role="button">Delete</a></div>	
{% endblock %}