{% extends 'equipment/base.html' %}
{% block content %}
	<a href="/departments/create/" class='btn btn-danger' role="button">Create</a>
	{% if department_list %}
	<table class='table table-hover'>
		<thead>
			<th>Department Name</th>
			<th>Sites</th>
			<th>Edit</th>
			<th>Delete</th>
		</thead>
		
		{% for dept in department_list %}
		<tr>
			<td><a href="/departments/{{ dept.id }}/">{{ dept.name }}</a></td>
			<td>
				<ul>
				{% for site in dept.sites.all %}
					<li>{{ site.name }}</li>
				{% endfor %}
				</ul>	
			</td>
			<td><a href="/departments/edit/{{ dept.id }}" class='btn btn-primary' role="button">Edit</a></td>
			<td><a href="/departments/delete/{{ dept.id }}" class='btn btn-primary' role="button">Delete</a></td>
		</tr>
		{% endfor %}
		
	</table>

{% else %}
	<p>No Departments Available <a href="/departments/create/">Create</a></p>
{% endif %}

{% endblock %}

